body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}

.maindiv > * {
    margin: 10px 0;
}

.maindiv > table {
    margin: 50px;
}

td {
    padding: 5px 10px;
}

b {
    background-color: yellow;
}